<ul cp1>
  <li>Click here to add li</li>
</ul> 
<hr/>

<div>
  <div cp2>Click</div>
</div> 
<hr/>
<div cp3>Mouse Over</div> 
<hr/>
<div cp4>click</div>
<div class="myclass"></div> 

<input type="text" cp5/> 
<hr/>
<div cp6>--- Click Here --- </div> 
<hr/>
<div cp7>--- Namaste! --- </div> 
<hr/>
<div cp8> Toggle </div> 
<hr/>
<div> 
  <div>Namaste!!</div>
  <div cp9> --- Click Here --- </div>
</div> 
<hr/>
<div cp10>
  --- Click Here --- 
 </div> 
 <hr/>
 <div cp11> --- Click Here --- </div> 
 <hr/>
<app-listen></app-listen>